* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 17px;
    background-color: #f8f8f8;
}

h1 {
    text-align: center;
    text-transform: capitalize;
    margin-top: 50px;
    color: #333;
}

h1::after {
    content: '';
    display: block;
    width: 70px;
    height: 3px;
    background-color: rgb(197, 126, 27);
    margin: 10px auto 30px auto;
    border-radius: 2px;
}

h4 {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    font-size: 95%;
    color: rgb(14, 14, 62);
    letter-spacing: 1.5px;
    text-transform: capitalize;
}

h4 span {
    padding-right: 10%;
    color: rgb(197, 126, 27);
}

.food-info p {
    width: 95.5%;
    font-size: 85%;
    letter-spacing: 0.3px;
    line-height: 1.3;
}

.menu-sort {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 1.18rem;
    margin-bottom: 4rem;
    gap: 1rem;
}

.menu-sort li a {
    border: 2px solid rgb(197, 126, 27);
    text-decoration: none;
    color: rgb(197, 126, 27);
    padding: 0.18em 0.6em;
    border-radius: 5px;
    transition: background-color 0.2s, color 0.2s;
}

.menu-sort li a:hover {
    color: #fff;
    background-color: rgb(146, 92, 17);
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.column {
    display: flex;
    flex-wrap: wrap;
}

.food-box {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex: 0 0 50%; 
    padding: 2rem 0;
}

.food-box img {
    flex: 1;                
    max-width: 30%;       
    aspect-ratio: 4 / 3;    
    object-fit: cover;    
    border: 4px solid rgb(197, 126, 27);
    border-radius: 10px;
}

.food-info {
    flex: 2;    
    display: flex;
    flex-direction: column;
    justify-content: center; 
    min-width: 0;           
}

.price-box {
    display: flex;
    justify-content: space-between;
    padding-right: 2%;
}

.food-info p::before {
    display: block;
    content: " ";
    width: 94%;
    height: 2px;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: rgb(207, 206, 206);
}